{% extends "url_shortener/header.html" %}

{% block content %}

  <div style = "text-align:center; margin:auto;">
    <h2>Login</h2>
    {% if form.errors %}
      <div class="alert alert-warning" role="alert">
      Your username and password didn't match. Please try again.
      </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <div>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </div>
  <div>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </div>

  <div style= "margin: 10px;">
    <input type="submit" value="login" class="btn btn-success btn-lg"  />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  </form>
</div>


{% endblock content %}	